.row.center-xs
  =grid xs:10,sm:8,md:6,lg:4 do
    .white.mdl-shadow--2dp.top-space.relative
    %section.border-bottom.top-space
      .row.middle-xs
        =grid class:"col-xs" do
          %h1.no-margin.medium
            %span= best_in_place @user, :name
            %span= best_in_place @user, :last_name
        =grid xs:4,sm:2 do
          /agregar amigo
    .large-padding
      .row
        =grid class:"col-xs" do
          Seguidores
        =grid class:"col-xs" do
          Posts
      .row.center-xs
        =grid xs:8,md:10 do
          %span= best_in_place @user, :bio
  .top-space
    =form_for @user do |f|
      =f.text_field :name
      =f.text_field :last_name
      =f.text_area :bio
      =f.submit "Enviar"
