.top-space
  .row.center-xs
    =grid xs:8,md:10 do
      .row
        =grid lg:2, sm:3, xs:10 do
          %ul.remove-bullet-points.text-left
            %li=link_to "Explorar","#"
            %li=link_to "Sugerencias","#"
        =grid xs:10, class:"col-sm" do
          =render "posts/form", post: @post
          #posts
      -if user_signed_in?
        =link_to "Logout",destroy_user_session_path, method: :delete
