.full-height.row.middle-xs.white-text.center-xs.no-margin
  =grid xs:10,sm:8,lg:4,md:6 do
    .big-padding.blue.text-left.white-text
      %h1.no-margin.bold.light-blue FacilitoCo
      %p.no-margin Conecta y conoce a otros
      Se supone que debo crear e importar un partial de registrations/new
      .top-space.white
        %br
        %a{href:"/users/sign_up"}  sign_up
        %br
        %a{href:"/users/sign_in"}  sign_in
